@model BookCreateEditViewModel
@{
    ViewData["Title"] = "Edytuj książkę";
}

<div class="mb-3">
    <partial name="Templates/_BackButton"/>
</div>

<div class="col-sm-8 col-md-6 mx-auto">
    <partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="Book" asp-action="Edit" method="post" enctype="multipart/form-data">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>
        
            <div class="mb-3">
                <label for="Title">Tytuł</label><br>
                <input id="Title" name="Book.Title" type="text" class="form-control" minlength="2" maxlength="100" value="@Model.Book.Title" required/>
            </div>

            <div class="mb-3">
                <label for="Author">Autor</label><br>
                <p class="form-control">@Model.Author.Name @Model.Author.LastName</p>
            </div>

            <div class="mb-3">
                <label for="Description">Opis</label><br>
                <textarea id="Description" name="Book.Description" class="form-control" rows="4" minlength="3" maxlength="3000" required>@Model.Book.Description</textarea>
            </div>

            <div class="mb-3">
                <label for="File">Obraz</label><br>
                <input id="File" name="File" type="file" class="form-control" onchange="preview(this);" accept="image/jpg,image/png,image/jpeg,image/gif">
                <img id="ImagePreview" name="ImagePreview" src="~/images/@Model.Book.Image" height="250" class="ms-auto me-auto mt-4 d-block"/>
            </div>

            <div class="mb-3">
                <label for="Year">Rok</label><br>
                <input id="Year" name="Book.Year" type="number" class="form-control" oninput="InpuNumber(this);"  maxlength="4" value="@Model.Book.Year" required/>
            </div>

            <div class="mb-3">
                <label for="City">Miasto</label><br>
                <input id="City" name="Book.City" type="text" class="form-control" minlength="2" maxlength="100" value="@Model.Book.City" required/>
            </div>
        
            <partial name="Templates/_FormButton"/>
        </form>
    </div>
</div>