@using X.PagedList
@using Biblioteczka.Data;

@model BookViewModel
@{
    ViewData["Title"] = "Książki";
    Tuple<IPagedList<BookViewModel>, string, string> paginationData = new Tuple<IPagedList<BookViewModel>, string, string>(@Model.BookList, "Ksiazki", "Index");
}

<partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
<partial name="Templates/_SearchBar" model="@Url.Action("Index")"/>
<partial name="Templates/_SortBar" model="@Url.Action("Index")"/>

@if (User.IsInRole(AppData.Admin) || User.IsInRole(AppData.Librarian)){
    <partial name="Templates/_BookListAdmin"/>
}
else {
    <partial name="Templates/_BookList"/>
}

<div class="row">
    <div class="col-md-4">
        <div class="">

        </div>
    </div>
</div>

<partial name="Templates/_Pagination" model="@paginationData"/>