<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Data dodania</th>
                <th scope="col" class="text-end"><a class="btn btn-primary" asp-controller="Author" asp-action="Create"><i class="bi bi-plus-lg"></i></a></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Author in Model)
            {
                <tr>
                    <th scope="row">@Author.Id</th>
                    <td class="col-2"><a class="text-decoration-none text-dark" asp-route-id="@Author.Id" asp-controller="Author" asp-action="Details">@Author.Name</a></td>
                    <td class="col-2"><a class="text-decoration-none text-dark" asp-route-id="@Author.Id" asp-controller="Author" asp-action="Details">@Author.LastName</a></td>
                    <td>@Author.Date.ToString("dd/MM/yyyy HH:mm")</td>
                    <td class="text-end">
                        <a class="btn btn-success mb-1" asp-route-id="@Author.Id" asp-controller="Author" asp-action="Edit"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@Author.Id"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@Author.Id" asp-controller="Author" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete" model="@Author.Id"/>
                        </form>
                  </td>
                </tr>
            }
        </tbody>
    </table>
</div>