<div class="row mb-2">
    @for (int i=0; i<@Model.Count; i++)
    {
        <div class="col-lg-2 col-md-3 col-sm-3 col-4">
            <div class="card shadow-sm border-light mb-4">
                <a class="text-decoration-none" asp-route-id="@Model[i].Id" asp-controller="Book" asp-action="Details">
                    <div class="position-relative">
                        <img src="~/images/@Model[i].Image" style="object-fit: cover;" class="card-img-top" alt="image">
                    </div>

                    <div class="card-body text-decoration-none text-dark">
                        @if (Model[i].Title.ToString().Length > 30){
                            <h6 class="fw-bold">@(Model[i].Title.ToString().Substring(0,18)+ "...")</h6>
                        }
                        else {
                            <h6 class="fw-bold">@Model[i].Title</h6>
                        }
                        @Model[i].Author.Name @Model[i].Author.LastName
                    </div>
                </a>
            </div>
        </div>
    }
</div>
