@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager

<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Numer</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">
                    @if (User.IsInRole("Admin")){
                        <a class="btn btn-primary" asp-route-id="@Model.Book.Id" asp-controller="Copy" asp-action="Create"><i class="bi bi-plus-lg"></i></a>
                    }
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Copy in @Model.CopyList)
            {
                <tr>
                    <td>@Copy.Number</td>
                    @if (Copy.Status=="0"){
                        <td>Niedostępna</td>
                    }
                    else if (Copy.Status=="1"){
                        <td>Dostępna</td>
                    }

                    <td class="text-end">
                       
                        @if (User.IsInRole("Admin")){
                            <a class="btn btn-success mb-1" asp-route-id="@Copy.Id" asp-controller="Copy" asp-action="Edit"><i class="bi bi-pencil-square"></i></a>
                            @if (Copy.Status == "1"){
                                <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@Copy.Id"><i class="bi bi-trash3-fill"></i></a>
                                <form asp-route-id="@Copy.Id" asp-controller="Copy" asp-action="Delete" method="post">
                                    <partial name="Templates/_ModalDelete" model="@Copy.Id"/>
                                </form>
                            }
                        }
                        else if (SignInManager.IsSignedIn(User) && @Copy.Status == "1"){
                            <form asp-route-id="@Copy.Id" asp-controller="Book" asp-action="Reservate" method="post">
                                <button type="submit" class="btn btn-primary">Rezerwuj</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>