<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="hide-sm hide-md hide-lg">Id</th>
                <th scope="col">Login</th>
                <th scope="col" class="hide-sm hide-md">Tytuł</th>
                <th scope="col" class="hide-sm hide-md hide-lg">Okładka</th>
                <th scope="col" class="hide-sm hide-md">Autor</th>
                <th scope="col">Numer ezgemplarza</th>
                <th scope="col">Data wypożyczenia</th>
                <th scope="col">Data oddania</th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var List in @Model.LoanList)
            {
                <tr>
                    <th scope="row" class="hide-sm hide-md hide-lg">@List.Loan.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@List.Loan.UserBorrowingId" asp-controller="User" asp-action="Details">@List.User.UserName</a></td>                
                    <td class="hide-sm hide-md"><a class="text-decoration-none text-dark" asp-route-id="@List.Loan.BookId" asp-controller="Book" asp-action="Details">@List.Book.Title</a></td>
                    <td class="hide-sm hide-md hide-lg"><img src="~/images/@List.Book.Image" style="object-fit: cover;" height="100"/></td>
                    <td class="hide-sm hide-md"><a class="text-decoration-none text-dark" asp-route-id="@List.Author.Id" asp-controller="Author" asp-action="Details">@List.Author.Name @List.Author.LastName</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@List.Loan.BookId" asp-controller="Book" asp-action="Details">@List.Copy.Number</a></td>
                    <td>@List.Loan.LoanDate</td>
                    <td>@List.Loan.ReturnDate</td>
                    <td class="text-end">
                        @if (List.Loan.ReturnDate == null){
                            <form asp-route-id="@List.Loan.Id" asp-controller="Loan" asp-action="Return" method="post">
                                <button type="submit" class="btn btn-success mb-1">Oddaj</button>
                            </form>
                        }
                        
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@List.Loan.Id"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@List.Loan.Id" asp-controller="Loan" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete" model="@List.Loan.Id"/>
                        </form>
                  </td>
                </tr>
            }
        </tbody>
    </table>
</div>