<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id Użytkownika</th>
                <th scope="col">Id Książki</th>
                <th scope="col">Id Autora</th>
                <th scope="col">Id Egzemplarza</th>
                <th scope="col">Data wypożyczenia&nbsp;&nbsp;
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Loan", new { sortOrder = "LoanDateAsc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Loan", new { sortOrder = "LoanDateDesc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col">Data oddania&nbsp;&nbsp;
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Loan", new { sortOrder = "ReturnDateAsc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Loan", new { sortOrder = "ReturnDateDesc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Loan in @Model)
            {
                <tr>
                    <th scope="row">@Loan.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Loan.UserBorrowingId" asp-controller="User" asp-action="Details">@Loan.UserBorrowingId</a></td>                
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Loan.BookId" asp-controller="Book" asp-action="Details">@Loan.BookId</a></td>
                    <td><a class="text-decoration-none text-dark">@Loan.BookId</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Loan.BookId" asp-controller="Book" asp-action="Details">@Loan.CopyId</a></td>
                    <td>@Loan.LoanDate</td>
                    <td>@Loan.ReturnDate</td>
                    <td class="d-flex justify-content-end">
                        @if (Loan.ReturnDate == null){
                            <form asp-route-id="@Loan.Id" asp-controller="Loan" asp-action="Return" method="post">
                                <button type="submit" class="btn btn-success mb-1 me-1">Oddaj</button>
                            </form>
                        }
                        
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@Loan.Id"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@Loan.Id" asp-controller="Loan" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete" model="@Loan.Id"/>
                        </form>
                  </td>
                </tr>
            }
        </tbody>
    </table>
</div>