@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data
@using Biblioteczka.Data;
@inject UserManager<AppUser> UserManager

<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Okładka</th>
                <th scope="col" class="hide-sm">Autor</th>
                <th scope="col">Numer ezgemplarza</th>
                <th scope="col">Data</th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var List in @Model.ReservationList)
            {
                @if (List.Reservation.UserBorrowingId == @UserManager.GetUserId(User)){
                    <tr>  
                        <td><a class="text-decoration-none text-dark" asp-route-id="@List.Reservation.BookId" asp-controller="Book" asp-action="Details">@List.Book.Title</a></td>
                        <td><img src="~/images/@List.Book.Image" style="object-fit: cover;" height="100"/></td>
                        <td class="hide-sm"><a class="text-decoration-none text-dark" asp-route-id="@List.Author.Id" asp-controller="Author" asp-action="Details">@List.Author.Name @List.Author.LastName</a></td>
                        <td><a class="text-decoration-none text-dark" asp-route-id="@List.Reservation.BookId" asp-controller="Book" asp-action="Details">@List.Copy.Number</a></td>
                        <td>@List.Reservation.Date</td>
                        <td class="text-end">
                            @if (User.IsInRole(AppData.Admin) || User.IsInRole(AppData.Librarian)){
                                <a class="btn btn-success mb-1" asp-route-id="@List.Reservation.Id" asp-controller="Loan" asp-action="Create">Wypożycz</a>
                            }
                            <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@List.Reservation.Id"><i class="bi bi-trash3-fill"></i></a>
                            <form asp-route-id="@List.Reservation.Id" asp-controller="Reservation" asp-action="Delete" method="post">
                                <partial name="Templates/_ModalDelete" model="@List.Reservation.Id"/>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>