<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="hide-sm hide-md">Id</th>
                <th scope="col">Login</th>
                <th scope="col" class="hide-sm">Tytuł</th>
                <th scope="col" class="hide-sm">Okładka</th>
                <th scope="col" class="hide-sm hide-md">Autor</th>
                <th scope="col">Numer ezgemplarza</th>
                <th scope="col">Data rezerwacji</th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var List in @Model.ReservationList)
            {
                <tr>
                    <th scope="row" class="hide-sm hide-md">@List.Reservation.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@List.Reservation.UserBorrowingId" asp-controller="User" asp-action="Details">@List.User.UserName</a></td>                
                    <td class="hide-sm"><a class="text-decoration-none text-dark" asp-route-id="@List.Reservation.BookId" asp-controller="Book" asp-action="Details">@List.Book.Title</a></td>
                    <td class="hide-sm"><img src="~/images/@List.Book.Image" style="object-fit: cover;" height="100"/></td>
                    <td class="hide-sm hide-md"><a class="text-decoration-none text-dark" asp-route-id="@List.Author.Id" asp-controller="Author" asp-action="Details">@List.Author.Name @List.Author.LastName</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@List.Reservation.BookId" asp-controller="Book" asp-action="Details">@List.Copy.Number</a></td>
                    <td>@List.Reservation.Date</td>
                    <td class="text-end">
                        <form asp-route-id="@List.Reservation.Id" asp-controller="Loan" asp-action="Create" method="post">
                            <button type="submit" class="btn btn-success mb-1">Wypożycz</button>
                        </form>
                        
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@List.Reservation.Id"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@List.Reservation.Id" asp-controller="Reservation" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete" model="@List.Reservation.Id"/>
                        </form>
                  </td>
                </tr>
            }
        </tbody>
    </table>
</div>