@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data
@inject UserManager<AppUser> UserManager

<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Login&nbsp;&nbsp;
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "LoginAsc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "LoginDesc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col">Email</th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@user.Id" asp-controller="User" asp-action="Details">@user.UserName</a></td>
                    <td>@user.Email</td>
                    <td class="text-end">
                    @if (UserManager.GetUserId(User) != @user.Id){
                        <a class="btn btn-primary mb-1" asp-route-id="@user.Id" asp-controller="User" asp-action="Role">Rola</a>
                        <a class="btn btn-success mb-1" href="#"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@user.Id"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@user.Id" asp-controller="User" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete" model="@user.Id"/>
                        </form>
                    }
                    else {
                        <a class="btn btn-primary" href="#">Edytuj profil</a>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>