@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data
@using Biblioteczka.Data;

@inject UserManager<AppUser> UserManager

<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="hide-sm hide-md">Imię</th>
                <th scope="col" class="hide-sm hide-md">Nazwisko</th>
                <th scope="col" class="hide-sm hide-md hide-lg">Nr karty</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col" class="hide-sm">Rola</th>
                <th scope="col" class="text-end"><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-plus-lg"></i></a></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.UserList)
            {
                <tr>
                    <td class="hide-sm hide-md"><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.Profile.Name</a></td>
                    <td class="hide-sm hide-md"><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.Profile.LastName</a></td>
                    <td class="hide-sm hide-md hide-lg"><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.Profile.LibraryCardNumber</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.User.UserName</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.User.Email</a></td>
                    @if (user.Role!=null && !string.IsNullOrEmpty(user.Role.Name)){
                        <td class="hide-sm">@user.Role.Name</td>
                    }
                    else {
                        <td class="hide-sm"></td>
                    }
                    
                    @if (User.IsInRole(AppData.Admin))
                    {
                        <td class="text-end">
                            @if (UserManager.GetUserId(User) != @user.User.Id){
                                <a class="btn btn-primary mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Role">Rola</a>
                                <a class="btn btn-success mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Edit"><i class="bi bi-pencil-square"></i><label class="ms-2">Konto</label></a>
                                <a class="btn btn-success mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Profile"><i class="bi bi-pencil-square"></i><label class="ms-2">Profil</label></a>
                                <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@user.User.Id"><i class="bi bi-trash3-fill"></i></a>
                                <form asp-route-id="@user.User.Id" asp-controller="User" asp-action="Delete" method="post">
                                    <partial name="Templates/_ModalDelete" model="@user.User.Id"/>
                                </form>
                            }
                            else {
                                <a class="btn btn-success mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Edit"><i class="bi bi-pencil-square"></i><label class="ms-2">Konto</label></a>
                                <a class="btn btn-success mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Profile"><i class="bi bi-pencil-square"></i><label class="ms-2">Profil</label></a>
                            }
                        </td>
                    }
                    else {
                        <td class="text-end"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>