@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data
@using Biblioteczka.Data;

@inject UserManager<AppUser> UserManager

<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col"><label class="me-2">Login</label>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "UserNameAsc" })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "UserNameDesc" })"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col"><label class="me-2">Email</label>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "EmailAsc" })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "User", new { sortOrder = "EmailDesc" })"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col">Role</th>
                <th scope="col" class="text-end"><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-plus-lg"></i></a></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.UserList)
            {
                <tr>
                    <th scope="row">@user.User.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.User.UserName</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Details">@user.User.Email</a></td>
                    @if (user.Role!=null && !string.IsNullOrEmpty(user.Role.Name)){
                        <td>@user.Role.Name</td>
                    }
                    else {
                        <td></td>
                    }
                    
                    @if (User.IsInRole(AppData.Admin))
                    {
                        <td class="text-end">
                            @if (UserManager.GetUserId(User) != @user.User.Id){
                                <a class="btn btn-primary mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Role">Rola</a>
                                <a class="btn btn-success mb-1" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Edit"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal_@user.User.Id"><i class="bi bi-trash3-fill"></i></a>
                                <form asp-route-id="@user.User.Id" asp-controller="User" asp-action="Delete" method="post">
                                    <partial name="Templates/_ModalDelete" model="@user.User.Id"/>
                                </form>
                            }
                            else {
                                <a class="btn btn-success" asp-route-id="@user.User.Id" asp-controller="User" asp-action="Edit"><i class="bi bi-pencil-square"></i><label class="ms-2">Edytuj</label></a>
                            }
                        </td>
                    }
                    else {
                        <td class="text-end"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>