@model List<Author>

@foreach (var Author in Model)
{
    <li class="list-group-item d-flex justify-content-between">
        <div class="align-self-center">
            <a class="text-decoration-none text-dark" asp-route-id="@Author.Id" asp-controller="Author" asp-action="Details"><strong class="mb-1">@Author.Name @Author.LastName</strong></a><br>
        </div>
        <div class="align-self-center">       
            <a class="btn btn-outline-primary" asp-route-id="@Author.Id" asp-controller="Author" asp-action="Edit">Edytuj</a>
            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Usuń</a>
            <form asp-route-id="@Author.Id" asp-controller="Author" asp-action="Delete" method="post">
                <partial name="Templates/_ModalDelete"/>
            </form>
        </div>
    </li>    
}