@model List<Reservation>

@foreach (var Reservation in Model)
{
    <li class="list-group-item d-flex justify-content-between">
        <div class="align-self-center">
            <a class="text-decoration-none text-dark" asp-route-id="@Reservation.Id" asp-controller="Book" asp-action="Details"><strong class="mb-1">@Reservation.Id</strong></a><br>
            <small class="small">User @Reservation.UserBorrowingId</small>
            <small class="small">Książka id @Reservation.BookId</small>
        </div>
        <div class="align-self-center">
            <form asp-route-id="@Reservation.Id" asp-controller="Loan" asp-action="Create">
                <button type="submit" class="btn btn-outline-primary">Wypożycz</button>
            </form> 

            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Usuń</a>

            <form asp-route-id="@Reservation.Id" asp-controller="Reservation" asp-action="Delete" method="post">
                <partial name="Templates/_ModalDelete"/>
            </form>
        </div>
    </li>  
}