<div class="bg-white rounded shadow ps-3 pe-3 pt-1 pb-1 mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id Użytkownika</th>
                <th scope="col">Id Książki</th>
                <th scope="col">Id Autora</th>
                <th scope="col">Id Egzemplarza</th>
                <th scope="col">Data&nbsp;&nbsp;
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Reservation", new { sortOrder = "DateAsc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-up"></i></a>
                    <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Reservation", new { sortOrder = "DateDesc", searchString = ViewData["SearchString"] })"><i class="bi bi-arrow-down"></i></a></th>
                <th scope="col" class="text-end"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Reservation in @Model)
            {
                <tr>
                    <th scope="row">@Reservation.Id</th>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Reservation.UserBorrowingId" asp-controller="User" asp-action="Details">@Reservation.UserBorrowingId</a></td>                
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Reservation.BookId" asp-controller="Book" asp-action="Details">@Reservation.BookId</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Reservation.BookId" asp-controller="Author" asp-action="Details">@Reservation.BookId</a></td>
                    <td><a class="text-decoration-none text-dark" asp-route-id="@Reservation.BookId" asp-controller="Book" asp-action="Details">@Reservation.CopyId</a></td>
                    <td>@Reservation.Date</td>
                    <td class="text-end">
                        <form asp-route-id="@Reservation.Id" asp-controller="Loan" asp-action="Create" method="post">
                            <button type="submit" class="btn btn-success mb-1">Wypożycz</button>
                        </form>
                        
                        <a class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3-fill"></i></a>
                        <form asp-route-id="@Reservation.Id" asp-controller="Reservation" asp-action="Delete" method="post">
                            <partial name="Templates/_ModalDelete"/>
                        </form>
                  </td>
                </tr>
            }
        </tbody>
    </table>
</div>