@model CopyCreateEditViewModel
@{
    ViewData["Title"] = "Edytuj egzemplarz";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto">
    <partial name="Templates/_Alert" model="@ViewData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="Copy" asp-action="Edit" method="post">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>
        
            <div class="mb-3">
                <label for="Number">Numer</label>
                <input id="Number" name="Copy.Number" type="text" class="form-control" minlength="3" maxlength="100" value="@Model.Copy.Number" required >
            </div>

            <div class="mb-3">
                <label for="Status">Status</label>
                <select id="Status" name="Copy.Status" class="form-control" >
                    @for (int i = 0; i < @ViewBag.Categories.Count; i++){
                        @if (i == int.Parse(Model.Copy.Status)){
                            <option value="@i" selected>@ViewBag.Categories[@i]</option>
                        }
                        else {
                            <option value="@i">@ViewBag.Categories[@i]</option>
                        }
                    }
                </select>
            </div>
        
            <partial name="Templates/_FormButton"/>
        </form>
    </div>
</div>