@model CopyCreateEditViewModel
@{
    ViewData["Title"] = "Dodaj egzemplarz";
}

<div class="mb-3">
    <partial name="Templates/_BackButton"/>
</div>

<div class="col-sm-8 col-md-6 mx-auto">
    <partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="Copy" asp-action="Create" method="post">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Copy.Number"></label>
			    <input asp-for="Copy.Number" type="text" class="form-control"/>
			    <span asp-validation-for="Copy.Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Status">Status</label>
                <select id="Status" name="Copy.Status" class="form-select">
                    @foreach (var item in @ViewBag.Status){
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
        
            <partial name="Templates/_FormButton"/>
        </form>
    </div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
