@using Microsoft.AspNetCore.Identity
@using Biblioteczka.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteczka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteczka.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #F2545B;">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bold" asp-controller="Home" asp-action="Index"><img height="20" src="~/logo/Biblioteczka.png"/></a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                    @if (!User.IsInRole("Admin")){
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-controller="Book" asp-action="Index">Książki</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    
    @if (User.IsInRole("Admin")) {
        <div id="wrapper" class="d-flex">
            <aside id="sidebar-wrapper" class="border-end bg-white">
                <div class="sidebar-heading border-bottom bg-light">Zarządzanie</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action p-3" asp-controller="Book" asp-action="Index"><i class="bi bi-book"></i><label class="ms-3">Książki</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-controller="Author" asp-action="Index"><i class="bi bi-pen"></i><label class="ms-3">Autorzy</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-controller="Copy" asp-action="Index"><i class="bi bi-bookshelf"></i><label class="ms-3">Ezgemplarze</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-controller="Loan" asp-action="Index"><i class="bi bi-bookmark-check"></i><label class="ms-3">Wypożyczenia</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-controller="Reservation" asp-action="Index"><i class="bi bi-calendar2-check"></i><label class="ms-3">Rezerwacje</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-controller="User" asp-action="Index"><i class="bi bi-people"></i><label class="ms-3">Użytkownicy</label></a>
                    <a class="list-group-item list-group-item-action p-3" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="bi bi-gear-wide"></i><label class="ms-3">Ustawienia</label></a>
                </div>
            </aside>
        
            <main id="page-content-wrapper" role="main">
                <div id="page-title">
                    <h6 class="m-0">@ViewData["Title"]</h6>
                </div>
                <div class="container-fluid p-4">
                    @RenderBody()
                </div>
            </main>
        </div>
    }
    else {
        <div id="page-title">
            <h6 class="m-0">@ViewData["Title"]</h6>
        </div>
        <main role="main" class="p-md-4 p-2">
            <div class="container">
                @RenderBody()
            </div>
        </main>
    }

    <footer class="border-top footer text-muted" style="background-color: #FF9793;">
        <div class="container text-center" style="height: 80px;">
            <a class="text-decoration-none text-white">&copy; 2022 - Biblioteczka by Alicja Kulig</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>