@model BookViewModel
@{
    ViewData["Title"] = "Dodaj książkę";
}

@if (@ViewData["Alert"] != null)
{
    if (@ViewData["Alert"]?.ToString() == "Success")
    {
        <div class="alert alert-success" role="alert">
            Akcja została wykonana pomyślnie!
        </div>
    }
    else if (@ViewData["Alert"]?.ToString() == "Danger")
    {
        <div class="alert alert-danger" role="alert">
            Wystąpił błąd! Akcja nie została wykonana!
        </div>
    }
}

<div class="col-sm-6 mx-auto">
    <form asp-controller="Book" asp-action="Create" method="post" enctype="multipart/form-data">
        <h3 class="mb-3">Dodaj książkę</h3>
        
        <div class="mb-3">
            <label for="Title">Tytuł</label><br>
            <input id="Title" name="Title" type="text" class="form-control" minlength="3" maxlength="100" required>
        </div>

        <div class="mb-3">
            <label for="Author">Autor</label><br>
            <select id="Author" name="Author" class="form-control">
                <option value="">Wybierz autora</option>
                @foreach (var author in @Model.Authors)
                {
                    <option value="@author.Id">@author.Name @author.LastName</option>
                }
            </select>
        </div>
        
        <div class="mb-3">
            <label for="Description">Opis</label><br>
            <input id="Description" name="Description" type="text" class="form-control" minlength="3" maxlength="100" required>
        </div>

        <div class="mb-3">
            <label for="File">Obraz</label><br>
            <input id="File" name="File" type="file" class="form-control-file" onchange="preview();" minlength="3" maxlength="100" required>
            <img id="ImagePreview" src=""  height="100" width="100"/>
        </div>

        <script>
            function preview() {
                ImagePreview.src = URL.createObjectURL(event.target.files[0]);
            }
        </script>

        <div class="mb-3">
            <label for="Year">Rok</label><br>
            <input id="Year" name="Year" type="number" class="form-control" minlength="3" maxlength="100" required>
        </div>

        <div class="mb-3">
            <label for="City">Miasto</label><br>
            <input id="City" name="City" type="text" class="form-control" minlength="3" maxlength="100" required>
        </div>

        <button class="btn btn-primary" type="submit">Zapisz</button>
    </form>
</div>
