@model BookCreateEditViewModel
@{
    ViewData["Title"] = "Dodaj książkę";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto">
    <partial name="Templates/_Alert" model="@ViewData["Alert"]?.ToString()"/>
    <div class="bg-white rounded shadow p-4">
        <form asp-controller="Book" asp-action="Create" method="post" enctype="multipart/form-data">
            <partial name="Templates/_FormHeader" model="@ViewData["Title"]"/>
            
            <div class="mb-3">
                <label for="Title">Tytuł</label>
                <input id="Title" name="Book.Title" type="text" class="form-control" minlength="3" maxlength="100" required>
            </div>

            <div class="mb-3">
                <label for="Author">Autor</label>
                <select id="Author" name="Book.AuthorId" class="form-control">
                    @foreach (var Author in @Model.Authors){
                        <option value="@Author.Id">@Author.Name @Author.LastName</option>
                    }
                </select>
            </div>
        
            <div class="mb-3">
                <label for="Description">Opis</label>
                <textarea id="Description" name="Book.Description" type="text" class="form-control" rows="4" minlength="3" maxlength="100" required></textarea>
            </div>

            <div class="mb-3">
                <label for="File">Obraz</label>
                <input id="File" name="File" type="file" class="form-control" onchange="preview();" minlength="3" maxlength="100" required>
                <img id="ImagePreview" name="ImagePreview" height="0" class="ms-auto me-auto d-block"/>
            </div>
            <script>
                function preview() {
                    ImagePreview.src = URL.createObjectURL(event.target.files[0]);
                    ImagePreview.height = 250;
                    ImagePreview.style.marginTop='20px';
                }
            </script>

            <div class="mb-3">
                <label for="Year">Rok</label>
                <input id="Year" name="Book.Year" type="number" class="form-control" minlength="3" maxlength="100" required>
            </div>

            <div class="mb-3">
                <label for="City">Miasto</label>
                <input id="City" name="Book.City" type="text" class="form-control" minlength="3" maxlength="100" required>
            </div>

            <partial name="Templates/_FormButton"/>
        </form>
    </div>  
</div>
