@using Microsoft.AspNetCore.Identity
@using LibraryApp.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model BookAuthorCopyViewModel
@{
     ViewData["Title"] = "O książce";
     string path = "/Book/Details";
}


<partial name="Templates/_BackButton"/>
<partial name="Templates/_Alert" model="@ViewData["Alert"]?.ToString()"/>


O książce
<div>
        <h3>@Model.Book.Title</h3>

        <p>@Model.Author.Name @Model.Author.LastName</p>

        <img src="~/images/@Model.Book.Image" height="400" width="400"/>
</div>


<partial name="Templates/_ListBarCategory" model="@path"/>
<partial name="Templates/_CopyList" model="@Model.Copies"/>