@using Microsoft.AspNetCore.Identity
@using LibraryApp.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model BookAuthorCopyViewModel
@{
    ViewData["Title"] = "O książce";
}

<partial name="Templates/_BackButton"/>

<div class="col-sm-6 mx-auto">
        <h3>@Model.Book.Title</h3>

        <p>@Model.Author.Name @Model.Author.LastName</p>

        <img src="~/images/@Model.Book.Image" height="400" width="300"/>
</div>

<partial name="Templates/_Alert" model="@TempData["Alert"]?.ToString()"/>
<partial name="Templates/_CopyList" model="@Model.Copies"/>